/*---------- BASE ----------*/
@font-face {
    font-family: "mplus";
    font-display: swap;
    src: url(../fonts/MPLUSRoundedMinify.woff2) format("woff2");
}
:root {
    --main-color: #F76;
    --sub-color: #6EA;
    --font-color: #666;
    --bg-color: #FFF;
    --user-red: red;
    --user-blue: blue;
    --user-green: green;
    --user-yellow: yellow;
    --user-white: white;
    --user-black: #333;
}
html{
    font-size: 62.5%;
}
body{
    color: var(--font-color);
    font-family: "mplus", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size:1.6rem;
    font-weight: 900;
    line-height: 1;
}
img {
    max-width: 100%;
}
/*---------- ANIMATION ----------*/
@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(5%);
    }
    75% {
        transform: translateY(-5%);
    }
}
.a-float {
    animation: float 5s linear infinite;
}
@keyframes fadeUp {
    0% {
        opacity:0;
        transform:translateY(5%)
    } 100% {
        opacity:1;
        transform:translateY(0%)
    }
}
.a-fadeUp {
    -webkit-animation:fadeUp .5s .2s both;
    animation:fadeUp .5s .2s both
}
@keyframes color-change {
    0%, 100% {
        background-color: #4D95FF;
    }
    20% {
        background-color: var(--main-color);
    }
    40% {
        background-color: #FFEE80;
    }
    60% {
        background-color: var(--sub-color);
    }
    80% {
        background-color: #6E59FF;
    }
}
/*---------- COMMON ----------*/
// WRAPPER
.l-wrapper {
    &::before, &::after {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        content: "";
        transition: .3s;  
    }
    &::before {
        z-index: -9;
        background: url(../images/bg/tmt-pattern-r.png) repeat center center;
        background-size: 50%;  
    }
    &::after {
        z-index: -7;
        animation: color-change 25s linear infinite;
        filter: opacity(.5);
    }
}
// CONTAINER
.l-container {
    display: flex;
    width: 100%;
}
// MENU
.p-menu {
    transform: translateY(-135%);
    filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, .3));
    &.active {
        transform: none;
    }
}
// SEARCHFORM
.p-searchform {
    &.active {
        z-index: 5;
        visibility: visible;
        opacity: 1;
    }
    &__button-close {
        border: 3px solid white;
        span {
            position: absolute;
            left: 50%;
            width: 80%;
            height: 3.5px;
            border-radius: 2px;
            background-color: white;
            transition: .3s;
            &:first-child {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:last-child {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}
.c-form {
    height: 39px;
    input {
        border: 3px solid var(--font-color);
        border-right: none;
        border-radius: 5px 0 0 5px;    
    }
    button {
        border-radius: 0 5px 5px 0;    
    }
}
// FOOTER
.c-qrcode.active {
    visibility: visible;
    opacity: 1;
}
.c-dropdown {
    width: 80%;
    margin-bottom: 1rem;
    padding: 1rem;
    background: var(--main-color);
    border-radius: 999px;
    cursor: pointer;
    transition: .3s;
    &:hover {
        letter-spacing: 2px;
    }    
}
.c-sitemap {
    li {
        margin-bottom: .8rem;
        transition: .3s;
        &:hover {
            letter-spacing: 2px;
        }
    }
    svg {
        width: 1em;
        height: 1em;
        stroke: white;
        fill: white
    }
}
// COMPONENT
.c-balloon {
    display: inline-flex;
    align-items: center;
    &.vertical {
        flex-direction: column-reverse;
        p {
            margin-bottom: 2rem;
            margin-left: 0;
            border-radius: 9999px;
            span {
                position: absolute;
                top: auto;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 70%);
                width: 25px;
                height: 25px;
                content: '';
                clip-path: polygon(50% 80%, 0 0, 100% 0);
            }
        }
    }
    &.balloon-xl {
        font-size: 2.5rem;
        img {
            width: 75px;
            height: auto;
        }
    }
    img {
        width: 50px;
        height: auto;
        border-radius: 999px;
    }
    p {
        display: inline-block;
        position: relative;
        margin-left: 1.5rem;
        padding: 1em 1.5em;
        border-radius: 10px;
        span {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-60%, -50%);
            width: 25px;
            height: 25px;
            content: '';
            clip-path: polygon(100% 0, 20% 50%, 100% 100%);
        }
    }
    &.flex-row-reverse {
        p {
            margin-right: 1.5rem;
            margin-left: 0;
            span {
                right: 0;
                left: auto;
                transform: translate(60%, -50%);
                clip-path: polygon(0 0, 0 100%, 80% 50%);
            }    
        }
    }
}
.c-sns-link {
    animation: float 5s linear infinite reverse;
    a {
        animation: float 5s linear infinite;
        &:nth-of-type(2n) {
            animation: float 5s linear infinite reverse;
        }
    }
    svg {
        width: 2rem;
        height: 2rem;
        stroke: currentColor;
        fill: currentColor;
        transition: .2s linear;
        &:hover {
            transform: rotate(-25deg);
        }
    }
}
.c-button {
    display: inline-block;
    padding: 1.5rem 2rem;
    border-radius: 99px;
    color: white;
    text-align: center;
    transition: .3s;
    &.btn-xl {
        padding: 2rem 2.5rem;
        font-size: 1.2em;
    }
    &.bg-main {
        box-shadow: 0 5px 0 0 #de5746;
    }
    &.bg-sub {
        box-shadow: 0 5px 0 0 #46cd89;
    }
    &:hover {
        transform: translateY(5px);
        box-shadow: none;
    }
}
// WAVES
.waves {
    height: 39px;
	margin: 0;
	display: block;
	transform: translateY(1px);
}
header .waves {
	position: absolute;
	bottom: 0;
	transform: rotate(180deg) translateY(1px)!important;
	transform-origin: bottom;
}
.wave > use {
    animation: wave 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.wave > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.wave > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.wave > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.wave > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes wave {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
// RESPONSIVE
@media screen and (min-width: 600px) {
}
@media screen and (max-width: 599px) {
    .l-wrapper {
        &::before {
            background: url(../images/bg/tmt-pattern-r-sp.png) repeat center center;
        }
    }
    .c-balloon {
        &.balloon-xl {
            font-size: 1.85rem;
        }
        img {
            width: 75px;
            height: auto;
        }
        p {
            span {
                &:not(footer &) {
                    top: auto;
                    right: auto;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 70%);
                    clip-path: polygon(50% 80%, 0 0, 100% 0);    
                }
            }
        }
        &:not(footer &) {
            flex-direction: column-reverse;
            p {
                max-width: 90vw;
                margin-bottom: 2rem;
                margin-left: 0;
                padding: 2.7rem 2rem;
                border-radius: 9999px;
            }    
        }
    }
    .c-sns-link {
        svg {
            width: 3rem;
            height: 3rem;    
        }
    }
    
}
