@use "./parts/base";
/*---------- PROJECT ----------*/
.p-plan {
    &__column {
        position: relative;
        padding: 2em 2em 2.5em;
        border-radius: 25px;
        background-image: url(../images/bg/tmt-bg.jpg);
        text-align: center;
        &::before, &::after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            content: '';
            clip-path: polygon(20% 10%, 0% 10%, 0 100%, 25% 100%, 25% 80%, 50% 80%, 50% 100%, 75% 100%, 75% 85%, 100% 85%, 100% 25%, 80% 25%, 80% 10%,  100% 10%, 100% 0, 70% 0, 70% 20%, 45% 20%, 45% 0, 20% 0);
            pointer-events: none;
        }
        &::before {
            border: 8px solid var(--sub-color);
            transform: translate(-8px, -8px);
        }
        &::after {
            border: 8px solid var(--main-color);
            transform: translate(8px, 8px);
        }
    }
    &__headline {
        width: auto;
        max-height: 60px;
        margin-bottom: 1.5rem;
        filter: drop-shadow(5px 5px 0 rgba(0, 0, 0, .5));
    }
    &__ex-container {
        position: relative;
        height: 16rem;
        margin: 5px 2rem 3rem;
        img {
            position: absolute;
            width: 68%;
            height: auto;
            border-radius: 10px;
            object-fit: cover;
            filter: drop-shadow(0 3px 2px rgba(0, 0, 0, .5));
        }
        picture:first-of-type img {
            top: 0;
            left: 0;
            animation: float 5s linear infinite;
        }
        picture:last-of-type img {
            right: 0;
            bottom: 0;
            animation: float 5s linear infinite reverse;
        }
    }
    &__price {
        margin-bottom: 2rem;
        font-size: 2.5rem;
        line-height: 3.5rem;
        p:first-child {
            text-decoration: line-through;
        }
        p:last-child {
            color: white;
            font-size: 1.5em;
        }
    }
    &__detail {
        margin-bottom: 2rem;
        padding: 1em 1em 0;
        font-size: 1.8rem;
        text-align: left;
        line-height: 1.4;
        letter-spacing: 1px;
    }
}
.p-site {
    &__column {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: .5s;
        &:hover {
            transform: scale(1.05);
        }
        img {
            height: 100%;
            object-fit: cover;
            aspect-ratio: 16 / 9;
        }
    }
}
.p-pickup {
    color: white;
    &__column {
        transition: .5s;
        &:hover {
            transform: scale(1.05);
        }
        img {
            height: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }
    }
    &__thumbnail {
        overflow: hidden;
        margin-bottom: 1rem;
    }
    h3 {
        margin: 2rem 0;
        font-size: 2.5rem;
    }
    p {
        font-size: 2rem;
    }
}
.p-flow {
    line-height: 1.5;
    &__content {
        width: 100%;
        border-right: 5px solid white;
        border-left: 5px solid white;        
    }
    h3 {
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    p {
        font-size: 2.5rem;
    }
    &__arrow {
        width: 20px;
        height: 20px;
        margin: 2rem auto;
        background-color: white;
        clip-path: polygon(0 15%, 50% 90%, 100% 15%);
    }
}
.p-news-blog {
    &__switcher {
    }
    &__button {
        width: 30%;
        max-width: 180px;
        margin: 0 1rem;
        padding: 1rem;
        border: 2px solid white;
        border-radius: 99px;
        background-color: rgba(255,255,255,.2);
        color: white;
        transition: .3s;
        &:hover {
            letter-spacing: 2px;
        }
        &.select {
            border-color: var(--sub-color);
            background-color: var(--sub-color);
        }
    }
    .c-columns {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        transform: translateY(100px);
        visibility: hidden;
        width: 100%;
        opacity: 0;
        transition: .5s;
        &.select {
            transform: none;
            visibility: visible;
            opacity: 1;
        }
    }
    &__column {
        position: relative;
        overflow: hidden;
        border: 5px solid var(--sub-color);
        border-radius: 25px;
        background-color: var(--sub-color);
        color: white;
        transition: .3s;
        &:hover {
            border-color: var(--main-color);
        }
        h2 {
            display: -webkit-box;
            overflow: hidden;
            height: 5rem;
            margin-bottom: .5rem;
            font-size: 1.8rem;
            line-height: 1.5;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        time {
            font-size: 1.3rem;
            &::before {
                display: inline-block;
                width: .75em;
                height: .75em;
                margin-right: .3rem;
                background-color: white;
                mask: url(../images/clock.svg);
                mask-size: cover;
                content: '';
            }
        }
    }
}
.p-creator {
    &__content {
        background-image: url(../images/bg/tmt-bg.jpg);
        a {
            span {
                transition: .1s;
            }
            &:hover span {
                border-bottom: 3px solid var(--font-color);
            }
        }
    }
}
/*---------- COMPONENT ----------*/
.c-banner {
    overflow: hidden;
    border-radius: 1rem;
    img {
        aspect-ratio: 14 / 4;
    }
    a {
        transition: .3s;
        &:hover {
            transform: scale(1.05);
        }
    }
}
.c-link-wave {
    display: inline-block;
    position: relative;
    z-index: 2;
    color: white;
    transition:0.2s ease-in-out;
    &:before {
        position: absolute;
        left: 0;
        bottom: -43px;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: right;
        width: 100%;
        height: 80px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B stroke:white; stroke-width:2.5; stroke-linecap:square; %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 40 40 40 Q 60 40 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")0px 50% / 80px 80px repeat-x;
        content: "";
        pointer-events: none;
        transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
    }
    &:hover {
        &:before {
            transform: scaleX(1);
            transform-origin:left;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B animation:wave 1s ease-in-out infinite alternate; animation-delay:-0.25s; stroke:white; stroke-width:2.5; stroke-linecap:square; %7D @keyframes wave%7B to%7B d:path('M 0 40 Q 20 42.5 40 40 Q 60 37.5 80 40'); %7D %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")0px 50% / 80px 80px repeat-x;
            animation: waving 3s linear infinite;
            transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            @keyframes waving {
                to {
                    background-position: 80px 50%, 160px 50%;
                }
            }
        }
    }
}
.c-campaign {
    &__check {
        appearance: auto;
    }
    &__content {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: .5s;
    }
    &__check:checked + &__label + &__content {
        height: auto;
        opacity: 1;
    }
}
.c-headline {
    text-align: center;
    img {
        width: auto;
        filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, .5));
    }
}
// RESPONSIVE
@media screen and (min-width: 600px) {
    .p-plan {
        &__column {
            width:33.3%;
        }
        &__headline {
            max-height: calc(100vw / 21);
        }
    }
    .p-site {
        &__column {
            width: calc(33.3% - 2rem);
            margin: 1rem;
        }
    }
    .p-pickup {
        &__column {
            width: calc(33.3% - 4rem);
            margin: 1rem 2rem 2rem;
        }
        &__thumbnail {
            filter: drop-shadow(10px 10px 0 rgba(0, 0, 0, .5));
        }    
    }
    .p-news-blog {
        &__column {
            width:calc(33.3% - 2rem);
            margin: 1rem;
            padding: 2rem;
        }
    }
    .p-creator {
        &__content {
            h3 {
                border-left: 3px solid var(--font-color);
            }
        }
    }
    .c-campaign {
        &__content {
            font-size: 2rem;
        }
    }
    .c-headline {
        img {
            max-height: 170px;
        }
    }    
}
@media screen and (max-width: 599px) {
    .p-plan {
        &__column {
            margin: 1.5rem 1.25rem;
            padding: 2rem 1rem 2.5rem;
        }
    }
    .p-site {
        &__column {
            width: calc(50% - 1rem);
            margin: .5rem;
        }
    }
    .p-pickup {
        &__column {
            transform:translateX(-2%);
            width: calc(50% - 1rem);
            margin: .5rem;
        }
        h3 {
            display: none;
        }
        p {
            display: none;
        }
    }
    .p-flow {
        h3 {
            font-size: 2.5rem;
        }
        p {
            font-size: 2rem;
        }
    }
    .p-news-blog {
        &__column {
            margin: .5rem 1.25rem;
            padding: 2rem 1rem;
        }
    }
    .c-campaign {
        &__content {
            font-size: 1.75rem;
        }
    }    
    .c-headline {
        img {
            max-height: 70px;
        }
    }    
}